<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>About me!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/aboutme.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.particleground.js"></script>
  </head>
  <body>
    <%- include article_head %>
    <section id="particle">
		<div class="box">
			<img src="/images/3.png" alt="2.png" class="trait">
			<div class="name text">黄夏钰</div>
			<div class="text">//不知道说什么</div>
			<div class="text">努力在点技能树ing</div>
			<div class="text">//Web Developer</div>
			<div class="text">//大三狗</div>
			<div class="text">//设计渣</div>
			<div class="text">Contact: 649520524@qq.com</div>
		</div>
	</section>
<script type="text/javascript">
	$("#particle").particleground({
		dotColor: '#b7809e',
    	lineColor: '#b7809e',
    	directionX: 'left'
	});
</script>
  </body>
</html>